<div>
  <div class="resultBox" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
    <mat-card class="navigationSection" fxShow fxHide.lt-sm>
      <div fxLayoutAlign="center center">
        <mat-nav-list>
          <mat-list-item *ngFor="let name of likedNames"
                         [ngClass]="chosenName == name ? 'mat-list-item-active':''"
                         (click)="getStats(name)">
            <a>{{ name }}</a>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-card>
    <mat-form-field fxHide fxShow.lt-sm>
      <mat-select placeholder="name">
        <mat-option *ngFor="let name of likedNames" [value]="name">{{name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-card class="nameStats">
        <p>Stats about name: {{chosenName}}</p>
      </mat-card>
    </div>
  </div>

</div>
