<div *ngIf="isLoading" class="mat-spinner-center-page">
  <mat-spinner></mat-spinner>
</div>

<div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="!isLoading">
  <!--<form>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Search name" type="text">-->
    <!--</mat-form-field>-->
  <!--</form>-->
  <mat-card class="container quizCard" >
    <div fxLayoutAlign="center" class="quiz">
      <div *ngIf="begin === true" fxLayout="column" fxLayoutAlign="center center" class="begin">
        <p class="animated fadeInDown" fxLayoutAlign="center">Welcome to</p>
        <img src="assets/images/logo.png" alt="logo" width="100%">
        <p class="animated fadeInDown" fxLayoutAlign="center">Let's get you started with a quick quiz!</p>
        <p class="animated fadeInDown" fxLayoutAlign="center">Press right on the names you like or press left</p>
        <button mat-raised-button color="primary" class="animated fadeInDown" (click)="beginQuiz()">Begin Quiz</button>
      </div>

      <div *ngIf="begin === false" fxFlex="20" fxLayoutAlign="center center">
        <button [ngStyle]="{'z-index': 200}" mat-fab color="white" (click)="dislikeName()"
                [disabled]="isDisabled">
          <mat-icon><i class="material-icons">clear</i></mat-icon>
        </button>
      </div>

      <div *ngIf="begin === false" fxFlex="60" fxLayoutAlign="center center" class="nameBox">
        <div *ngFor="let name of names; let i = index" class="nameStack">
          <div class="animated" [ngClass]="nameIndex <= i - 1 ? animation:''">
            <p [ngStyle]="{'z-index':  i + 1}">{{ name.name }}</p>
          </div>
        </div>
        <div *ngIf="nameIndex === -1">
          <p class="animated fadeInDown" fxLayoutAlign="center">Well Done!</p>
          <button mat-raised-button color="primary" routerLink="/profile" class="animated fadeInDown">See results</button>
        </div>
      </div>

      <div *ngIf="begin === false" fxFlex fxLayoutAlign="center center">
        <button mat-fab (click)="likeName()" [disabled]="isDisabled">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>

    </div>
  </mat-card>
</div>
