<div fxlayout="column" fxLayoutAlign="center center">
  <mat-card class="container quizCard">
    <div fxLayoutAlign="center" class="quiz">

      <div fxFlex="20" fxLayoutAlign="center center">
        <button mat-fab color="white" (click)="dislikeName(nameIndex)"
        [disabled]="isDisabled">
          <mat-icon><i class="material-icons">clear</i></mat-icon>
        </button>
      </div>

      <div fxFlex="60" fxLayoutAlign="center center" class=" nameBox">
        <div *ngIf="nameIndex != nameList.length" class="animated bounceInLeft">
          <p>{{nameList[nameIndex]}}</p>
        </div>
        <div *ngIf="nameIndex == nameList.length">
          <button mat-raised-button color="primary" routerLink="/profile">See results</button>
        </div>
      </div>

      <div fxFlex fxLayoutAlign="center center">
        <button mat-fab (click)="likeName(nameIndex)" [disabled]="isDisabled">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>

    </div>
  </mat-card>
</div>
