@import '../../node_modules/@angular/material/theming';

@mixin component-themes($theme) {
  $accent: map-get($theme, accent);

  //@include footer-theme($theme);

  .mat-list-item-active {
    font-weight: 500;
    color: mat-color($accent, darker) !important;
    background: rgba(0, 0, 0, 0.04);
  }

  .mat-spinner-center-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
  }

}
