
<div fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <img src="../../../assets/images/logo.png" title="Logo">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" type="text">
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password">
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
