@import '~@angular/material/theming';

@mixin footer-theme($theme) {
  $primary: map-get($theme, primary);

  a {
    text-decoration: none;
    color: inherit;
  }

  footer {
    i {
      font-size: 14px !important;
      vertical-align: middle;

    }
    font-size: 14px;
    height: 4em;
    background: mat-color($primary, 500);
    color: mat-color($primary, default-contrast);
  }
}
