<mat-toolbar color="primary" class="mat-elevation-z5">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.lt-sm="center center">
    <div fxLex fxShow fxHide.lt-sm>
      <img routerLink="/" src="assets/images/logoWhite.png" width="55%" alt="logo">
    </div>

    <div fxFlex="50" fxLayout="row" fxLayoutAlign="flex-end center"  fxLayoutAlign.lt-sm="center center">
      <form class="searchbar" fxLayoutAlign="center center" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
        <mat-form-field>
          <input matInput placeholder="Search name" type="text" formControlName="search">
        </mat-form-field>
        <button type="submit"><i class="material-icons">search</i></button>
      </form>
      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <mat-icon>translate</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>color_lens</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #languageMenu="matMenu">
  <button mat-menu-item>English</button>
  <button mat-menu-item>Монгол</button>
</mat-menu>

<mat-menu #profileMenu="matMenu">
  <button mat-menu-item *ngIf="!userIsAuthenticated" routerLink="/auth/signup">Register</button>
  <button mat-menu-item *ngIf="!userIsAuthenticated" routerLink="/auth/login">Login</button>
  <button mat-menu-item *ngIf="userIsAuthenticated" routerLink="/profile">My Account</button>
  <button mat-menu-item *ngIf="userIsAuthenticated" (click)="logout()">Logout</button>
</mat-menu>

<mat-menu #themeMenu="matMenu">
  <button *ngFor="let t of themes" mat-menu-item (click)="changeTheme(t.name)">
    <mat-icon *ngIf="(theme | async) === t.name">star</mat-icon>
    <mat-icon *ngIf="(theme | async) !== t.name">star_border</mat-icon>
    <span>{{t.text}}</span>
  </button>
</mat-menu>
