@import '~@angular/material/theming';

a {
  text-decoration: none;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

.primary-header {
  height: 5em;
}
img {
  outline: none;
  cursor: pointer;
}
.searchbar {
  button {
    padding-right: 35px;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  i {
    color: white;
  }

  font-size: 13px;
  ::placeholder {
    font-size: 11px;
    opacity: .8;
  }
}
